<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
    <link rel="stylesheet" href="/css/login.css" />
    <title>Register</title>
  </head>
  <body>
    <div class="container">
      <div class="column">
        <p class="text1">Register Now</p>
        <p class="text2">
          Hi, welcome to <b class="text2_1">Suscord.</b> Just make up any nickname you'd like to chat under thats all!
        </p>
      
        <form action="/register" method="post">
          <div class="input-field">
            <input
              type="text"
              id="name"
              name="username"
              placeholder="Username"
              class="username"
              required
            />
          </div>

          <% if(message.length>0) {%>
            <p class="error_text">
               <%= message %>
            </p>
          <% } %>

          <div class="input-field">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              class="password"
              required
            />
          </div>
          <!-- <div class="input-field">
            <input
              type="number"
              id="games"
              name="games"
              placeholder="games"
              class="username"
              required
            />
          </div>
          <div class="input-field">
            <input
              type="number"
              id="wins"
              name="wins"
              placeholder="wins"
              class="username"
              required
            />
          </div>
          <div class="input-field">
            <input
              type="number"
              id="loss"
              name="loss"
              placeholder="loss"
              class="username"
              required
            />
          </div>
          <div class="input-field">
            <input
              type="number"
              id="points"
              name="points"
              placeholder="points"
              class="username"
              required
            />
          </div> -->

          <!-- <div class="input-field">
            <input
              type="password"
              id="password"
              placeholder="Retype Password"
              class="password"
              required=""
            />
          </div> -->
          <button class="login-btn" type="submit">Register</button>
        </form>
        <p class="text3">
          Already a member?
          <a class="register" href="/login">
            <font style="color: #ffffff">Sign In Now</font>
          </a>
        </p>
      </div>
    </div>
  </body>
</html>